
.box2 {
  width: 100vw;
  height: 400px;
  background-color: pink;
}

.keyword-box{
    width: 50vw;
    height: 400px;
    background-color: green;
}

.keyword {
  font-size: 6rem;
}

.me-blurb-box{

}
