
#keywords-section {
  position: relative;
  width: 100vw;
  height: 100%;
  // background-color: pink;
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  #title {
    @extend %sans-set;
    font-weight: 900;
    font-size: 4rem;
  }
  #paragraphs {
    @extend %serif-set;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 2rem;
  }

  .text-box {
    padding: $key-content-padding;
  }

  #about-box {
    @extend %half-box-sizing;
    display: grid;
    @extend %arrow-setting;
    .title-box {
      margin: auto;
    }
  }
  #about-contents-box {
    @extend %half-box-sizing;
    background-color: tint(#28ff7e, 50%);
    overflow: auto;
    display: none;
    .logos-container {
      padding: $logo-container-padding;
    }
  }

  #nature-box {
    @extend %half-box-sizing;
    display: grid;
    overflow: hidden;
    background-color: $overlay-green;
    @extend %arrow-setting;
    .gif-container {
      display: flex;
      justify-content: center;
      position: absolute;
      top: -90px;
      .gif-img {
        //Keep ratio
        flex: none;
        width: 245%;
        height: 100%;
        opacity: 0.6;
      }
    }
    .title-box {
      margin: auto;
    }
  }
  #nature-contents-box {
    @extend %half-box-sizing;
    background-color: tint(#28ff7e, 58%);
    display: none;
  }
}

// tablet
@media only screen and (max-width: 768px) {
  #keywords-section {
    background-color: red;
    #title {
      font-size: 3.2rem;
    }
    #paragraphs {
      font-size: 1rem;
    }
  }
}

// mobile
@media only screen and (max-width: 480px) {
  #keywords-section {
    background-color: blue;
    #title {
      font-size: 2.5rem;
    }
    #paragraphs {
      font-size: 1rem;
    }
    #about-box, #about-contents-box, #nature-box, #nature-contents-box {
      width: 100vw;
      height: 280px;
    }
  }
}
