
#keywords-section {
  position: relative;
  width: 100vw;
  height: 100%;
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  #title {
    @extend %sans-set;
    font-weight: 900;
    font-size: 4rem;
  }
  #paragraphs {
    @extend %serif-set;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 2rem;
  }

  .text-box {
    padding: $key-content-padding;
  }

  #about-box {
    @extend %key-box-layout-set;
  }
  #about-contents-box {
    @extend %half-box-sizing;
    position: relative;
    background-color: tint(#28ff7e, 50%);
    overflow: auto;
    display: none;
    box-shadow: #00732d 0px -5px 20px -15px;
    .logos-container {
      padding: $logo-container-padding;
    }
  }
  #skill-box {
    @extend %key-box-layout-set;
  }
  #skill-contents-box {
    @extend %content-layout-set;
    position: relative;
    background-color: tint(#28ff7e, 58%);
    .skill-description {
      padding: 1rem;
      margin-top: 1rem;
      background-color: mintTint(white, 100%);
      .logo-title-set {
        display: inline-block;
        padding: 1rem;
        text-align: center;
        .tech-name {
          font-size: 1rem;
          font-weight: 900;
          margin-top: 0.2rem;
        }
        i {
          font-size: 2.2rem;
        }
      }
    }
  }

  #nature-box {
    @extend %key-box-layout-set;
  }
  #nature-contents-box {
    @extend %content-layout-set;
    position: relative;
    background-color: tint(#28ff7e, 58%);
    .project-description {
      background-color: mintTint(white, 100%);
    }
  }

}

// tablet
@media only screen and (max-width: 768px) {
  #keywords-section {
    background-color: white;
    #title {
      font-size: 3.2rem;
    }
    #paragraphs {
      font-size: 1rem;
    }
  }
}

// mobile
@media only screen and (max-width: 480px) {
  #keywords-section {
    background-color: white;
    #title {
      font-size: 2.5rem;
    }
    #paragraphs {
      font-size: 1rem;
    }
    #about-box, #about-contents-box, #skill-box, #skill-contents-box, #nature-box, #nature-contents-box {
      width: 100vw;
      height: 280px;
    }
  }
}
