#food-box {
  @extend %key-box-layout-set;
}
#food-contents-box {
  @extend %content-layout-set;
  position: relative;
  background-color: tint(#28ff7e, 66%);
  .project-description {
    background-color: mintTint(white, 90%);
  }

}


#art-box {
  @extend %key-box-layout-set;
}
#art-contents-box {
  @extend %content-layout-set;
  position: relative;
  background-color: tint(#28ff7e, 74%);
  .project-description {
    background-color: mintTint(white, 80%);
  }
}

// mobile
@media only screen and (max-width: 480px) {
#food-box, #food-contents-box, #art-box, #art-contents-box {
  width: 100vw;
  height: 280px;
  }
}
