
#life-box {
  @extend %key-box-layout-set;
}
#life-contents-box {
  @extend %content-layout-set;
  position: relative;
  background-color: tint(#28ff7e, 82%);
  .project-description {
    background-color: mintTint(white, 60%);
  }
}

#contact-box {
  @extend %key-box-layout-set;
}
#contact-contents-box {
  @extend %half-box-sizing;
  position: relative;
  background-color: tint(#28ff7e, 90%);
  display: none;
  #email {
    word-break: break-word;
    @extend %sans-set;
    color: $gold;
    font-size: 2.5rem;
    font-weight: 700;
    a, u {
      @extend %serif-set;
      font-weight: 400;
      font-size: 1.5rem;
      color: inherit;
    }
  }
}


// mobile
@media only screen and (max-width: 480px) {
#life-box, #life-contents-box, #contact-box, #contact-contents-box {
  width: 100vw;
  height: 280px;
  overflow: scroll;
  }
}
