
#life-box {
  @extend %half-box-sizing;
  display: grid;
  @extend %arrow-setting;
  // background-color: aquamarine;
  .title-box {
    margin: auto;
  }
}
#life-contents-box {
  @extend %half-box-sizing;
  background-color: tint(#28ff7e, 82%);
  display: none;
}

#contact-box {
  @extend %half-box-sizing;
  display: grid;
  @extend %arrow-setting;
  // background-color: paleturquoise;
  .title-box {
    margin: auto;
  }
}
#contact-contents-box {
  @extend %half-box-sizing;
  background-color: tint(#28ff7e, 90%);
  display: none;
}


// mobile
@media only screen and (max-width: 480px) {
#life-box, #life-contents-box, #contact-box, #contact-contents-box {
  width: 100vw;
  height: 280px;
  }
}
