#keywords-section #title, .title-container, body {
  font-family: "Nunito Sans", sans-serif;
}

#keywords-section #paragraphs, .title-container .summary-box .summary-contents {
  font-family: "Merriweather", serif;
}

#contact-contents-box, #contact-box, #life-contents-box, #life-box, #art-contents-box, #art-box, #food-contents-box, #food-box, #keywords-section #nature-contents-box, #keywords-section #nature-box, #keywords-section #about-contents-box, #keywords-section #about-box {
  width: 50vw;
  height: 400px;
}

body {
  margin: 0;
  color: #181818;
}
body main {
  display: flex;
  flex-direction: column;
}

.title-container {
  display: flex;
  flex-wrap: wrap;
  width: 100vw;
  height: 1800px;
  position: relative;
}
.title-container .title-box {
  width: 50vw;
}
.title-container .title-box .title {
  margin-top: 10rem;
  margin-left: 5rem;
  position: fixed;
  top: 0;
  left: 0;
}
.title-container .title-box .title p {
  font-size: 6rem;
  font-weight: 900;
  margin: 0;
}
.title-container .title-box .title .fam-name {
  line-height: 3rem;
}
.title-container .summary-box {
  width: 50vw;
  background-color: yellow;
  position: absolute;
  bottom: 0;
  right: 0;
  padding-bottom: 3rem;
}
.title-container .summary-box #summary-start {
  padding: 0.8rem 5rem 0rem 1.4rem;
  font-size: 2rem;
  font-weight: 600;
  line-height: 2.8rem;
}
.title-container .summary-box .summary-contents {
  padding: 0.8rem 5rem 0rem 1.4rem;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.8rem;
}

@media only screen and (max-width: 768px) {
  .title-container {
    background-color: red;
    flex-direction: column;
    height: 1200px;
  }
  .title-container .title-box {
    width: 100vw;
    height: 600px;
  }
  .title-container .summary-box {
    width: 100vw;
  }
}
@media only screen and (max-width: 480px) {
  .title-container {
    background-color: green;
    height: 1400px;
  }
  .title-container .title-box .title {
    margin: 1.5rem;
  }
  .title-container .title-box .title p {
    font-size: 5rem;
  }
  .title-container .summary-box #summary-start {
    padding: 1.5rem;
    padding-bottom: 0;
    font-size: 1.4rem;
    line-height: 1.8rem;
  }
  .title-container .summary-box .summary-contents {
    padding: 0.5rem 3rem 0 1.5rem;
    font-size: 0.9rem;
    line-height: 1.4rem;
  }
}
#keywords-section {
  position: relative;
  width: 100vw;
  height: 100%;
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
}
#keywords-section #title {
  font-weight: 900;
  font-size: 4rem;
}
#keywords-section #paragraphs {
  font-weight: 400;
  font-size: 1.5rem;
}
#keywords-section .text-box {
  padding: 0.8rem 5rem 0rem 1.4rem;
}
#keywords-section #about-box {
  display: grid;
}
#keywords-section #about-box .title-box {
  margin: auto;
}
#keywords-section #about-contents-box {
  background-color: yellow;
  display: none;
}
#keywords-section #nature-box {
  display: grid;
}
#keywords-section #nature-box .title-box {
  margin: auto;
}
#keywords-section #nature-contents-box {
  background-color: yellow;
  display: none;
}

@media only screen and (max-width: 768px) {
  #keywords-section {
    background-color: red;
  }
  #keywords-section #title {
    font-size: 3.2rem;
  }
  #keywords-section #paragraphs {
    font-size: 1rem;
  }
}
@media only screen and (max-width: 480px) {
  #keywords-section {
    background-color: green;
  }
  #keywords-section #title {
    font-size: 2.5rem;
  }
  #keywords-section #paragraphs {
    font-size: 1rem;
  }
  #keywords-section #about-box, #keywords-section #about-contents-box, #keywords-section #nature-box, #keywords-section #nature-contents-box {
    width: 100vw;
    height: 280px;
  }
}
#food-box {
  display: grid;
}
#food-box .title-box {
  margin: auto;
}

#food-contents-box {
  background-color: yellow;
  display: none;
}

#art-box {
  display: grid;
}
#art-box .title-box {
  margin: auto;
}

#art-contents-box {
  background-color: yellow;
  display: none;
}

@media only screen and (max-width: 480px) {
  #food-box, #food-contents-box, #art-box, #art-contents-box {
    width: 100vw;
    height: 280px;
  }
}
#life-box {
  display: grid;
}
#life-box .title-box {
  margin: auto;
}

#life-contents-box {
  background-color: yellow;
  display: none;
}

#contact-box {
  display: grid;
}
#contact-box .title-box {
  margin: auto;
}

#contact-contents-box {
  background-color: yellow;
  display: none;
}

@media only screen and (max-width: 480px) {
  #life-box, #life-contents-box, #contact-box, #contact-contents-box {
    width: 100vw;
    height: 280px;
  }
}
footer {
  background-color: #181818;
  display: flex;
  color: white;
  position: relative;
  bottom: 0;
}
footer section {
  width: 100vw;
  height: 300px;
  display: grid;
}
footer section div {
  margin: auto;
}

/*# sourceMappingURL=style.css.map */
