#contact-contents-box #email, #keywords-section #title, .title-container, body main #project-title, body {
  font-family: "Nunito Sans", sans-serif;
}

#contact-contents-box #email a, #contact-contents-box #email u, #keywords-section #paragraphs, .title-container .summary-box .summary-contents, #life-contents-box .project-description .paragraphs-small, #art-contents-box .project-description .paragraphs-small, #food-contents-box .project-description .paragraphs-small, #keywords-section #nature-contents-box .project-description .paragraphs-small, #keywords-section #skill-contents-box .project-description .paragraphs-small {
  font-family: "Merriweather", serif;
}

#contact-contents-box, #keywords-section #about-contents-box, #contact-box, #life-box, #art-box, #food-box, #keywords-section #nature-box, #keywords-section #skill-box, #keywords-section #about-box, #life-contents-box, #art-contents-box, #food-contents-box, #keywords-section #nature-contents-box, #keywords-section #skill-contents-box {
  width: 50vw;
  height: 400px;
}

#contact-box, #life-box, #art-box, #food-box, #keywords-section #nature-box, #keywords-section #skill-box, #keywords-section #about-box {
  position: relative;
}
#contact-box .arrow, #life-box .arrow, #art-box .arrow, #food-box .arrow, #keywords-section #nature-box .arrow, #keywords-section #skill-box .arrow, #keywords-section #about-box .arrow {
  position: absolute;
  right: 2rem;
  top: 2rem;
}

#life-contents-box .project-description .paragraphs-small, #art-contents-box .project-description .paragraphs-small, #food-contents-box .project-description .paragraphs-small, #keywords-section #nature-contents-box .project-description .paragraphs-small, #keywords-section #skill-contents-box .project-description .paragraphs-small {
  margin: 0;
  padding: 0 1rem;
  padding-bottom: 1rem;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.8rem;
}

#life-contents-box .project-description .link-set, #art-contents-box .project-description .link-set, #food-contents-box .project-description .link-set, #keywords-section #nature-contents-box .project-description .link-set, #keywords-section #skill-contents-box .project-description .link-set {
  padding-left: 1rem;
  padding-bottom: 3rem;
  font-weight: 700;
  font-size: 1.2rem;
}
#life-contents-box .project-description .link-set u, #art-contents-box .project-description .link-set u, #food-contents-box .project-description .link-set u, #keywords-section #nature-contents-box .project-description .link-set u, #keywords-section #skill-contents-box .project-description .link-set u, #life-contents-box .project-description .link-set a, #art-contents-box .project-description .link-set a, #food-contents-box .project-description .link-set a, #keywords-section #nature-contents-box .project-description .link-set a, #keywords-section #skill-contents-box .project-description .link-set a {
  display: block;
  margin: 1rem 0;
  margin-bottom: 0.5rem;
  color: inherit;
}

#life-contents-box, #art-contents-box, #food-contents-box, #keywords-section #nature-contents-box, #keywords-section #skill-contents-box {
  display: none;
  overflow: scroll;
  box-shadow: #00732d 0px -5px 20px -15px;
}
#life-contents-box .thumb-nail-container, #art-contents-box .thumb-nail-container, #food-contents-box .thumb-nail-container, #keywords-section #nature-contents-box .thumb-nail-container, #keywords-section #skill-contents-box .thumb-nail-container {
  padding: 1rem 0;
}
#life-contents-box .thumb-nail-container img, #art-contents-box .thumb-nail-container img, #food-contents-box .thumb-nail-container img, #keywords-section #nature-contents-box .thumb-nail-container img, #keywords-section #skill-contents-box .thumb-nail-container img {
  max-width: 100%;
  max-height: 100%;
}
#life-contents-box .project-description, #art-contents-box .project-description, #food-contents-box .project-description, #keywords-section #nature-contents-box .project-description, #keywords-section #skill-contents-box .project-description {
  margin: 2rem 0 4rem 0;
  position: relative;
}
#life-contents-box .project-description .logo-title-set #brief-icon, #art-contents-box .project-description .logo-title-set #brief-icon, #food-contents-box .project-description .logo-title-set #brief-icon, #keywords-section #nature-contents-box .project-description .logo-title-set #brief-icon, #keywords-section #skill-contents-box .project-description .logo-title-set #brief-icon {
  padding: 1rem 0.5rem 1rem 1rem;
}
#life-contents-box .project-description .logo-title-set #title, #art-contents-box .project-description .logo-title-set #title, #food-contents-box .project-description .logo-title-set #title, #keywords-section #nature-contents-box .project-description .logo-title-set #title, #keywords-section #skill-contents-box .project-description .logo-title-set #title {
  font-size: 1rem;
  display: inline-block;
  position: absolute;
}
#contact-box, #life-box, #art-box, #food-box, #keywords-section #nature-box, #keywords-section #skill-box, #keywords-section #about-box {
  background-color: white;
  display: grid;
}
#contact-box .title-box, #life-box .title-box, #art-box .title-box, #food-box .title-box, #keywords-section #nature-box .title-box, #keywords-section #skill-box .title-box, #keywords-section #about-box .title-box {
  margin: auto;
}

body {
  margin: 0;
  color: #181818;
}
body a {
  text-decoration: none;
}
body .site-mark {
  font-weight: 900;
  font-size: 1rem;
}
body main {
  display: flex;
  flex-direction: column;
}
body main #project-title {
  font-weight: 700;
  font-size: 2rem;
  margin: 0;
  padding-top: 2rem;
  color: #a29566;
}
body main .note {
  font-size: 0.8rem;
  font-weight: 600;
  line-height: 1.5rem;
  padding: 1.5rem 2rem;
  color: #18994c;
}
body main .arrow-in-container {
  padding-top: 2rem;
}
body main .arrow-in-container .arrow-in {
  position: absolute;
  right: 1.6rem;
  transform: rotate(180deg);
}

.title-container {
  display: flex;
  flex-wrap: wrap;
  width: 100vw;
  height: 1800px;
  position: relative;
}
.title-container .title-box {
  width: 50vw;
  background-color: white;
}
.title-container .title-box .title {
  margin-top: 10rem;
  margin-left: 5rem;
  position: fixed;
  top: 0;
  left: 0;
}
.title-container .title-box .title p {
  font-size: 6rem;
  font-weight: 900;
  margin: 0;
}
.title-container .title-box .title .fam-name {
  line-height: 3rem;
}
.title-container .summary-box {
  width: 50vw;
  background-color: #28ff7e;
  position: absolute;
  bottom: 0;
  right: 0;
}
.title-container .summary-box #summary-start {
  color: #a29566;
  padding: 0.8rem 5rem 0rem 1.6rem;
  padding-top: 2rem;
  font-size: 2rem;
  font-weight: 600;
  line-height: 2.8rem;
}
.title-container .summary-box .summary-contents {
  padding: 0.8rem 5rem 0rem 1.6rem;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.8rem;
}
.title-container .summary-box .logos-container {
  padding: 2rem 5rem 3rem 1.6rem;
}
.title-container .summary-box .logos-container a {
  padding-right: 0.5rem;
}
.title-container .summary-box .logos-container .logo-linkedin {
  line-height: 1rem;
}

@media only screen and (max-width: 768px) {
  .title-container {
    background-color: white;
    flex-direction: column;
    height: 1200px;
  }
  .title-container .title-box {
    width: 100vw;
    height: 600px;
  }
  .title-container .summary-box {
    width: 100vw;
    top: 700px;
    overflow: scroll;
  }
}
@media only screen and (max-width: 480px) {
  .title-container {
    background-color: white;
    height: 1400px;
  }
  .title-container .title-box .title {
    margin: 1.5rem;
  }
  .title-container .title-box .title p {
    font-size: 5rem;
  }
  .title-container .summary-box #summary-start {
    padding: 1.5rem;
    padding-bottom: 0;
    font-size: 1.4rem;
    line-height: 1.8rem;
  }
  .title-container .summary-box .summary-contents {
    padding: 0.5rem 3rem 0 1.5rem;
    font-size: 0.9rem;
    line-height: 1.4rem;
  }
}
#keywords-section {
  position: relative;
  width: 100vw;
  height: 100%;
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
}
#keywords-section #title {
  font-weight: 900;
  font-size: 4rem;
}
#keywords-section #paragraphs {
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 2rem;
}
#keywords-section .text-box {
  padding: 2rem 5rem 0rem 1.6rem;
}
#keywords-section #about-contents-box {
  position: relative;
  background-color: #94ffbf;
  overflow: auto;
  display: none;
  box-shadow: #00732d 0px -5px 20px -15px;
}
#keywords-section #about-contents-box .logos-container {
  padding: 2rem 5rem 3rem 1.6rem;
}
#keywords-section #skill-contents-box {
  position: relative;
  background-color: #a5ffc9;
}
#keywords-section #skill-contents-box .skill-description {
  padding: 1rem;
  margin-top: 1rem;
  background-color: #e0ffec;
}
#keywords-section #skill-contents-box .skill-description .logo-title-set {
  display: inline-block;
  padding: 1rem;
  text-align: center;
}
#keywords-section #skill-contents-box .skill-description .logo-title-set .tech-name {
  font-size: 1rem;
  font-weight: 900;
  margin-top: 0.2rem;
}
#keywords-section #skill-contents-box .skill-description .logo-title-set i {
  font-size: 2.2rem;
}
#keywords-section #nature-contents-box {
  position: relative;
  background-color: #a5ffc9;
}
#keywords-section #nature-contents-box .project-description {
  background-color: #e0ffec;
}

@media only screen and (max-width: 768px) {
  #keywords-section {
    background-color: white;
  }
  #keywords-section #title {
    font-size: 3.2rem;
  }
  #keywords-section #paragraphs {
    font-size: 1rem;
  }
}
@media only screen and (max-width: 480px) {
  #keywords-section {
    background-color: white;
  }
  #keywords-section #title {
    font-size: 2.5rem;
  }
  #keywords-section #paragraphs {
    font-size: 1rem;
  }
  #keywords-section #about-box, #keywords-section #about-contents-box, #keywords-section #skill-box, #keywords-section #skill-contents-box, #keywords-section #nature-box, #keywords-section #nature-contents-box {
    width: 100vw;
    height: 280px;
  }
}
#food-contents-box {
  position: relative;
  background-color: #b6ffd3;
}
#food-contents-box .project-description {
  background-color: #e3ffee;
}

#art-contents-box {
  position: relative;
  background-color: #c7ffdd;
}
#art-contents-box .project-description {
  background-color: #e6fff0;
}

@media only screen and (max-width: 480px) {
  #food-box, #food-contents-box, #art-box, #art-contents-box {
    width: 100vw;
    height: 280px;
  }
}
#life-contents-box {
  position: relative;
  background-color: #d8ffe8;
}
#life-contents-box .project-description {
  background-color: #ecfff4;
}

#contact-contents-box {
  position: relative;
  background-color: #eafff2;
  display: none;
}
#contact-contents-box #email {
  word-break: break-word;
  color: #a29566;
  font-size: 2.5rem;
  font-weight: 700;
}
#contact-contents-box #email a, #contact-contents-box #email u {
  font-weight: 400;
  font-size: 1.5rem;
  color: inherit;
}

@media only screen and (max-width: 480px) {
  #life-box, #life-contents-box, #contact-box, #contact-contents-box {
    width: 100vw;
    height: 280px;
    overflow: scroll;
  }
}
footer {
  background-color: #181818;
  color: white;
  bottom: 0;
  width: 100vw;
}
footer section {
  display: flex;
  justify-content: space-between;
}
footer section .footer-title {
  opacity: 0.5;
  font-weight: 600;
  font-size: 1rem;
  padding-bottom: 0.5rem;
}
footer section div {
  margin: 5rem 4rem;
}
footer section div p {
  margin: 0;
}
footer section .footer-logo-container {
  display: flex;
  flex-direction: column;
  text-align: right;
}
footer section .footer-logo-container a {
  padding-top: 0.5rem;
}
footer section .footer-logo-container .icon-info {
  font-size: 0.7rem;
  color: grey;
  opacity: 0.5;
  margin: 0;
  margin-top: 2rem;
}
footer section .footer-logo-container .icon-info a {
  color: inherit;
}

/*# sourceMappingURL=style.css.map */
