%sans-set {
  font-family: 'Nunito Sans', sans-serif;
}
%serif-set {
  font-family: 'Merriweather', serif;
}

$content-padding: 0.8rem 5rem 0rem 1.4rem;


body {
  margin: 0;
  main {
    display: flex;
    flex-direction: column;
  }
}

@import "partials/about";
@import "partials/title";
@import "partials/projects";
