%sans-set {
  font-family: 'Nunito Sans', sans-serif;
}
%serif-set {
  font-family: 'Merriweather', serif;
}

%half-box-sizing {
  width: 50vw;
  height: 400px;
}

$content-padding: 0.8rem 5rem 0rem 1.4rem;


body {
  margin: 0;
  main {
    display: flex;
    flex-direction: column;
  }
}

@import "partials/title";
@import "partials/keywords";
